<div class="block-product-content">
    <div class="title-product">
        <h5> Đặc Điểm Sản Phẩm</h5>
    </div>
    <table>
        <tr>
            <th>Trọng Lượng</th>
            <th>900</th>
        </tr>
        <tr>
            <th>Xuất Sứ</th>
            <th>Singapol</th>
        </tr>
        <tr>
            <th>Độ Tuổi</th>
            <th>1 - 3 tuổi</th>
        </tr>
    </table>

    <div class="detail-product">
        <p>Giai đoạn từ 1 - 3 tuổi, đây là thời kỳ vàng cho sự phát triển của bé, đặc biệt là sự phát triển trí não. Chính vì vậy, bé cần được bổ sung thêm dưỡng chất cần thiết giúp hỗ trợ trí não của bé phát triển tốt, để bé học hỏi và ghi nhớ những gì xung quanh cuộc sống hàng ngày của bé. Với yêu cầu phát triển đó, sản phẩm sữa Wyeth S-26 Progress Gold số 3 cung cấp các thành phần dinh dưỡng, các vitamin để bé lớn nhanh và phát triển toàn diện. Sản phẩm sữa do thương hiệu Nestle nhập khẩu và phân phối từ Singapore dành cho các bé từ 1 - 3 tuổi.  </p>
        <div class="text-center">
            <img src="~/images/pic1.jpg" alt="pic" />
        </div>
        <p>Công dụng của các thành phần dinh dưỡng </p>
        <p>
            Sữa Wyeth S-26 Progress Gold số 3 với các thành phần dưỡng chất bao gồm:
        </p>

        <p>
            - Hàm lượng DHA tăng: thành phần quan trọng cho sự phát triển não bộ và mắt của trẻ
        </p>
        <p>
            - Hàm lượng Choline tăng: hỗ trợ sự hoạt động của toàn bộ hệ thần kinh
        </p>
        <p>
            - Hàm lượng lutein tăng: thành phần chủ đạo của võng mạc mắt
        </p>
        <p>
            - Alpha-lactalbumin: một loại protein chất lượng cao hỗ trợ xây dựng và phát triển mô
        </p>
        <p>
            - Oligofructose: chất xơ hòa tan, kích thích sự tăng trưởng của các vi khuẩn có lợi trong đường ruột
        </p>
        <p>
            - Sắt: là một thành phần quan trọng của hồng huyết cầu, đưa o-xy tới tất cả bộ phận của cơ thể để giúp sản sinh năng lượng cần thiết cho cơ thể.
        </p>
        <p>
            - Vitamin E: chất chống oxi hóa giúp bảo vệ các tế bào của cơ thể.
        </p>
    </div>
</div>