<div class="relative-product">
    <div class="relative-title">
        <h5><i class="fa fa-bars" aria-hidden="true"></i> SẢN PHẨM CÙNG DANH MỤC</h5>
    </div>
    <div class="relative-contain">
        <div class="row">
            <div class="col-6 col-m-12" style="border-right:1px solid #ccc;">
                <img src="~/images/product1.jpg" alt="pic" width="163" height="162"/>
                <h5 style="color:red; font-size:20px;font-weight:bold;">320.000Đ <span style="color:#808080; font-size:15px;text-decoration:line-through">360.000Đ</span></h5>
                <a href="" style="color:black">Sữa Wyeth S-26 Promise Gold số 4 900g (Trên 3...</a>
                <img src="~/images/product2.jpg" alt="pic" width="163" height="162" />
                <h5 style="color:red; font-size:20px;font-weight:bold">320.000Đ <span style="color:#808080; font-size:15px;text-decoration:line-through">360.000Đ</span></h5>
                <a href="" style="color:black">Sữa Wyeth S-26 Progress Gold số 3 900g (1 -...</a>

            </div>
            <div class="col-6 col-m-12">
                <img src="~/images/product3.jpg" alt="pic" width="163" height="162"/>
                <h5 style="color:red; font-size:20px;font-weight:bold">320.000Đ <span style="color:#808080; font-size:15px;text-decoration:line-through">360.000Đ</span></h5>
                <a href="" style="color:black">Sữa Wyeth S-26 Promil Gold số 2 900g (Trên 6...</a>

                <img src="~/images/product4.jpg" alt="pic" width="163" height="162" />
                <h5 style="color:red; font-size:20px;font-weight:bold">320.000Đ <span style="color:#808080; font-size:15px;text-decoration:line-through">360.000Đ</span></h5>
                <a href="" style="color:black">Sữa Wyeth S-26 Gold số 1 900g (0 - 12...</a>

            </div>
        </div>
    </div>
</div>