<div class="row text-center register">
    <div class="col-4 col-m-12">
            <a href="#">
                <img src="~/images/lop_hoc_tien_san_bibo_mart_mien_phi_1.png" class="img-circle img-person" />
                <h4>Lớp tiền sản miễn phí</h4>
            </a>
            <button class="btndk">ĐĂNG KÝ NGAY</button>
     </div>
    <div class="col-4 col-m-12">
            <a href="#">
                <img src="~/images/hoi_thao_dinh_duong_1.png" class="img-circle img-person" />
                <h4>Lớp học dinh dưỡng</h4>
            </a>
            <button class="btndk">ĐĂNG KÝ NGAY</button>
    </div>
    <div class="col-4 col-m-12">
            <a href="#">
                <img src="~/images/dai_tiec_sinh_nhat_1.png" class="img-circle img-person" />
                <h4>Đại tiệc sinh nhật hàng tháng</h4>
            </a>
            <button class="btndk">ĐĂNG KÝ NGAY</button>
    </div>  
   </div>
