body {
}

/*respondsive */
* {
    box-sizing: border-box;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}
[class*="col-"] {
    float: left;
}
html {
    font-family: "Lucida Sans", sans-serif;
}
/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}

@media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}
/*end respondsive*/
/*Header*/
    /*header-top*/
    .header-top{
        background-color:#f2f2f2;
        height:auto;
        border-bottom:1px solid #ccc;
    
    }
    .header-top a{
        color:#a3a3a3;
    }
    .header-top a:hover {
        color:black!important;
        text-decoration:none;
    }
    .mart-system{
        background-color: #e7e7e7;
        height:24px;
        padding-left:15px;
        padding-top:3px;

    }
    .mart-system a{
        color: #555555;
        font-weight:bold;
        font-size:13px;
    }
    .mart-system a:hover{  
        color:#555555!important;
        font-weight:bold;
        font-size:13px;
        text-decoration:none;
    }
    .text-top{
        height:24px;
        padding-left:15px;
        padding-top:3px;
    }

        /*header-dropdown*/
        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
        }

        .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
            text-align: left;
        }

        .dropdown-content a:hover {background-color: #f1f1f1}

        .dropdown:hover .dropdown-content {
            display: block;
        }
        /*end header-dropdown*/

     
    /*end header-top*/




    /*logo-search-cart*/
    .logo-img{
        margin-left:-20px;
        width:220px;
        height:100px;
    }
    .Search{
            margin-top:30px;
    }

    .Search input[type=text] {
            width: 80%;
            box-sizing: border-box;
            border: 1px solid #ccc;
            font-size: 16px;
            background-color: white;
            padding: 12px 20px 12px 40px;
        }
    .button {
            width:15%;
            height:49px;
            margin-left:-2px;
            border:none;
            position:absolute;
            background-color: #db2827;
    }
    .button i{
        font-size:25px;
        color:white;
        font-weight:lighter;
    }
    .circle{
        border: 10px solid transparent;
        border-radius:100%;
        width: 40px;     
        opacity: 1;
        background-color:red;
        float:left;
    }
    .circle a{
        color:white;
        font-weight:bold;
        font-size:15px;
    }
    .circle a:hover{
        color:white!important;
        text-decoration:none;   
    }
    .cart{
        margin-left:35%;
        margin-top:35px;    
        width:100%;
    }
    .cart i{
        font-size:40px;
        color:black;
        float:left; 
        margin-right:10px;
    }
    /*end logo-search-cart*/
 
    /*Menu Title*/
    .menu-title{    
        background-color:#e51f28;
        opacity:0.9;
        padding-top:5px;
        padding-bottom:5px; 
        padding-left:15px;
        margin-top:10px;
    }
    .menu-title i{
        color:white;
        font-size:20px;
        font-weight:bold;
    }
    .menu-title span{
        margin-left:15px;
        color:white;
        font-size:20px;
    }

    /*End Menu Title*/

/*End Header*/

/*Body*/


    /*Body Content*/
    .body-content{
        background-color:#f5f5f5;
        border-bottom:3px solid #ed9493;
    }

    /*End Body Content*/
   
    
     /*Main Navigate*/
     .main-navigate{
 
     }
    .main-navigate ul{
    
        background:#f5f5f5;
        height:auto;
        list-style-type:none;
    }
    .main-navigate ul li{

        padding-top:10px;
        margin-left:-40px;
        padding-left:10px;
        margin-bottom:3px;
 
        
    }
    .main-navigate ul li a{
        color:black;
    }
    .main-navigate ul li.list1:hover{
        background-color:#e7e7e7;
    }
     .main-navigate ul li.list2:hover{
        background-color:#f59952;
    }
      .main-navigate ul li.list3:hover{
        background-color:#0494c3;
    }
       .main-navigate ul li.list4:hover{
        background-color:#f41242;
    }
        .main-navigate ul li.list5:hover{
        background-color:#f66cda;
    }
         .main-navigate ul li.list6:hover{
        background-color:#c2c002;
    }
          .main-navigate ul li.list7:hover{
        background-color:#0bb838;
    }
           .main-navigate ul li.list8:hover{
        background-color:#8c406b;
    }
            .main-navigate ul li.list9:hover{
        background-color:#a3826f;
    }
             .main-navigate ul li.list10:hover{
        background-color:#7874ca;
    }
             .main-navigate ul li.list11:hover{
        background-color:#28b689;
    }
             @media only screen and (max-width: 767px){
            .block-content{
               display:none;
                }
             .dropdown-navigate:hover .dropdown-navigate-content {
              display: block;
               }
        

}

             @media only screen and (min-width: 768px) {
            /* For desktop: */
                   .dropdown-navigate-content {
                        display: none;
                        position: absolute;
                        background-color:white;
                        margin-left:185px;
                        margin-top:-40px;
                        width:60%;
                        padding:10px;
                        background-color: #f9f9f9;
                        min-width: 160px;
                        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                        z-index: 1;

                    }
            }
             
       

        .dropdown-navigate-content a {
            color: black;
            padding: 5px;
            text-decoration: none;
            display: block;
        }

        .dropdown-navigate-content a:hover {
          
        }

        .dropdown-navigate:hover .dropdown-navigate-content {
            display: block;
        }
        .block-content{
            margin-bottom:10px;
        }
    /*End Main Navigate*/

    /*Sub Navigate*/
    .sub-navigate{
        width:90%;
    }
    .block-navigate{
        border-bottom:1px solid #ccc;
        margin-bottom:25px;
        padding-bottom:10px;
    }
    .block-navigate a{
        margin-left:-10px;
        font-size:13px;
        
    }
    .sub-navigate li{
        margin-left:-20px;
        list-style-type:none;
        margin-top:2px;
    }
    .sub-navigate a{
        color:black;
    }
    .navigate-title{
        font-size:20px;
        font-weight:bold;
        list-style-type:none;
    }
    .main-title{
        margin-top:10px;
        font-size:17px;
        font-weight:bold;
        list-style-type:none;
    }
    .menu-checkbox{
            background-image: url(../images/checkbox.png);
    padding-left: 25px;
    background-repeat: no-repeat;
    background-position: 0 0;

        
    }
    .list-product{
        padding-left:10px;
    }
    .list-detail{
        width:90%;
        text-align:center;
        background-color:white;
        padding-bottom:20px;
        border:1px solid #ccc;
        margin-top:10px;
        margin-bottom:20px;
    }
    .list-detail h5{
        color:black;
        font-size:15px;
        font-weight:lighter;
    }
    /*End Sub Navigate*/

    /*Product Detail*/
    .breadcrumb-item a{
        color:black;
    }
    .rate-product{
        padding-bottom:70px;
        border-bottom:1px solid #ccc;
    }
    .buy-now{
        width:300px;
        background-color:#fe8400;
        text-align:center;
        height:40px;
        border:none;
        border-radius:3px;
        font-size:25px;
        color:white;    
        margin-right:20px;
    }
    .add-cart-button{
         width:300px;
        background-color:white  ;
        text-align:center;
        height:40px;
        border:2px solid #fe8400;
        border-radius:3px;
        font-size:25px;
        color:#fe8400;    
    }
    .title-product{
        background-color:#f2f2f2;
        padding:2px;
        padding-left:20px;
    }
    .title-product h5{
        font-size:15px;
        font-weight:bold;
    }
    table, td, th {    
    border: 1px dotted #ddd;
    text-align: left;
    }

    table {
    border-collapse: collapse;
    width: 100%;
    }
    th, td {
      padding: 15px;
      font-weight:lighter;
    }
    .block-product-content{
        border-bottom: 1px solid #ccc;
        border-right: 1px solid #ccc;
        padding-right:15px;
    }

    .detail-product{
        margin-top:10px;
        border-top:1px solid #ccc;
        padding-top:20px;
    }
    .relative-product{
        margin-left:20px;
        
    }
    .relative-product i{
        font-size:30px;
        color:red;
    }
    .relative-contain{
        border-top:1px solid #ccc;
        border-left:1px solid #ccc;
        padding-left:20px;
    }

    .relative-product h5{
        font-size:20px;
        font-family:'Times New Roman', Times, serif;
    }
        /*carousel*/
        .carousel-inner.onebyone-carosel { margin: auto; width: 90%; }
        .onebyone-carosel .active.left { left: -25.00%; }
        .onebyone-carosel .active.right { left: 25.00%; }
        .onebyone-carosel .next { left: 25.00%; }
        .onebyone-carosel .prev { left: -25.00%; }
        /*End carousel*/
    /*End Product Detail*/



    /*Register*/
    .register{
               margin-bottom:20px;
    }
    .register a{
        color:black;
    }
    .register a:hover{
        color:black;
        text-decoration:none;
    }
    .register button{
        padding:10px;
        background-color:#e51f28;
        color:white;
        font-weight:bold;
    }
    .img-person {
      border: 10px solid transparent;
      margin-bottom: 25px;
      width: 50%;
      height: 50%;
      }


    /*End Register*/

    /*Content*/
    .content-title{
        padding-top:10px;
        padding-bottom:10px;
    }
    .content-title a{
        color:white;
        font-weight:bold;
        font-size:20px;
    }
    .content-title a:hover{
        color:white;
        text-decoration:none;
    }
    .content-title-image{
     -webkit-transition: width 2s, height 2s, -webkit-transform 2s; /* Safari */
    transition: width 2s, height 2s, transform 2s;
    }
     .content-title-image:hover{
     -webkit-transform: rotate(180deg); /* Safari */
    transform: rotate(360deg);
    }
    .image-label{
        background-color:white;
        padding-bottom:87px;
        margin-bottom:20px;
    }
    .image-label li{
              list-style-type:none;
              margin-left:-25px;
              
    }
    .product-block {
        height:auto;
    }
    .product-contain{
        margin-top:-10px;
        padding-top:20px;
        background-color:white; 
            
    }
    .product-contain a{
        white-space:pre-line;
        font-size:16px;
        color:black;
    }
     .product-contain a:hover{
        color:black;
        text-decoration:none;
    }

    .product-contain h5{
    
        color:red;
        font-size:17px;
    }.product-contain span{
         font-size:10px;
         color:#ccc;
         text-decoration:line-through;
         margin-left:5px;
     }
     .product-image{
         transition: width 2s, height 2s, transform 2s;
     }
     .product-image:hover{
          transform: translate(-10px, 0px);
     }
    

    /*End Content*/



/*End Body*/


/*Footer*/

    /*Footer TOP*/
    .footer-top{
        background-color: #fafafa;
        border-top:3px solid red;
    }
    .footer-top h3{
        font-size:18px;
        font-weight:bold;
    }
    .footer-top a{
        margin-right:15px;
      
    }
    .footer-top-block{
        border-left:1px dashed #ccc;
    }
    .footer-top-block h3{
        margin-left:25px;
    }
    .footer-top-block a{
        color:#9a9a9a;
        font-size:14px;
        
    }
    .footer-top li{
        list-style-type:square;
        color:#9a9a9a;
        font-size:10px;
    }

    
        /*Input Email*/
        .input-email{
            width:60%;
            height:auto;
            padding:5px;
            padding-left:15px;
            border:1px thin #ccc;
            margin-bottom:10px;
        }
        .button-email{
            padding:5px;
            position:absolute;
            height:34px;
            background-color: #ff9321;
            color:white;
            border:none;
        }

        /*End Input Email*/

    /*End Footer TOP*/


  /*End Footer*/

#ex1Slider .slider-selection {
	background: #BABABA;
}