
<div class="footer-top">
    <div class="container" style="border-bottom:1px solid #ccc; padding-bottom:20px">
        <div class="row">
            <div class="col-4 col-m-12">
                <h3>Kênh thông tin</h3>
                <p>Nhập Email để có thể nhận được thông tin đầy đủ và mới nhất mỗi khi có khuyến mãi</p>
                <form>
                    <input type="text" class="input-email" name="email" placeholder="Email của bạn" />
                    <button type="submit" id="submmit-email" class="button-email">Đăng ký Email</button>
                </form>
                <a href="#">
                    <img src="~/images/facebook.png" class="icon_c" />
                </a>
                <a href="#">

                    <img src="~/images/google.png" class="icon_c" />
                </a>
                <a href="#">

                    <img src="~/images/twitter.png" class="icon_c" />
                </a>
                <a href="#">

                    <img src="~/images/youtube.png" class="icon_c" />
                </a>
            </div>
            <div class="col-3 col-m-12">
                <div class="footer-top-block">
                    <h3>Giới thiệu</h3>
                    <ul>
                        <li><a href="#">Về Bibo Mart</a></li>
                        <li><a href="#">Hệ thống cửa hàng</a></li>
                        <li><a href="#">Khuyến mại</a></li>
                        <li><a href="#">Tuyển dụng</a></li>
                        <li><a href="#">Liên hệ</a></li>
                        <li><a href="#">Cam kết sản phẩm chính hãng</a></li>

                    </ul>
                </div>
            </div>
            <div class="col-3 col-m-12">
                <div class="footer-top-block">
                    <h3>Hướng dẫn, hỗ trợ</h3>
                    <ul>
                        <li><a href="#">Hướng dẫn mua hàng</a></li>
                        <li><a href="#">Vận chuyển-giao hàng</a></li>
                        <li><a href="#">Phương thức thanh toán</a></li>
                        <li><a href="#">Sử dụng mã giả</a></li>
                        <li><a href="#">Hướng dẫn tạo tài khoản</a></li>
                        <li><a href="#">Phương thức đổi-trả hàng</a></li>

                    </ul>
                </div>
                </div>
            <div class="col-2 col-m-12">
                <div class="footer-top-block">
                    <h3>Các chính sách</h3>
                    <ul>
                        <li><a href="#">Chính sách tích điểm</a></li>
                        <li><a href="#">Chính sách bán sỉ</a></li>
                        <li><a href="#">Chính sách bảo hành</a></li>
                        <li><a href="#">Bảo mật thông tin cá nhân</a></li>
                        <li><a href="#">Sử dụng thông tin</a></li>

                    </ul>
                </div>
                </div>
        </div>
    </div>
</div>
<div class="footer-bot">
    <div class="container">
        <div class="row">
            <div class="col-8 col-m-8">
                <h5>Bản quyền 2017 Bibomart.com.vn - Điểm đến của các Ba Mẹ thông thái</h5>
                <h5>Đơn vị chủ quản: Công ty Cổ phần Bibo Mart - Người đại diện: Trịnh Lan Phương</h5>
                <h5>Địa chỉ: A4/235 đường Lạc Long Quân, phường Nghĩa Đô, quận Cầu Giấy, Hà Nội</h5>
                <h5>Điện thoại: 04 37872076 - Email: info@bibomart.net</h5>
                <h5>Mã số thuế / Mã số doanh nghiệp: 0106384726, Ngày cấp: 06/12/2013, Sở KHĐTHN</h5>
            </div>
            <div class="col-4 col-m-4">
                <img src="~/images/dathongbao.png" alt="checked" width="300" height="100" style="float:right"/>
            </div>
        </div>
    </div>
</div>