<div class="header-top">
    <div class="container">
        <div class="row">
            <div class="col-2 col-m-12">
                <div class="mart-system">
                    <a href="#">Hệ thống 102 cửa hàng</a>
                </div>
            </div>
            <div class="col-2 col-m-12">
                <div class="text-top">
                    <a href="#">Hotline: 1800 6886</a>
                </div>
            </div>

            <div class="col-2 col-m-12 navbar-right">
                <div class="text-top">
                   <a href="#" title="Tra cứu thông tin tích điểm">Kiểm tra bizo</a>
                </div>
            </div>
            <div class="col-1 col-m-12 navbar-right">
                <div class="dropdown text-top">
                    <a target="_blank" data-toggle="dropdown" role="button" aria-expanded="false" href="javascript:void(0);">
                        Hà Nội <span class="caret"></span>
                    </a>
                    <div class="dropdown-menu" role="menu">
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a href="#">
                                    Hồ Chí Minh
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
      

</div>
</div>