<div class="header-bot">
    <div class="container">
        <div class="row">
            <div class="col-3 col-m-12">
                <a href="#"><img class="logo-img" src="~/images/logo.jpg"></a>
            </div>
            <div class="col-6 col-m-12">
                <div class="dropdown">
                    <div class="Search">
                        <form>
                            <input type="text" placeholder="Bố Mẹ Tìm Cho Bé Gì Hôm Nay?" id="name" />
                            <button id="btn" type="button" class="button " onclick="myFunction()"><i class="fa fa-search" aria-hidden="true"></i></button>
                        </form>
                    </div>
                    <div class="result dropdown-content"></div>
                </div>
            </div>
 <div class="col-3 col-m-12">
    <div class="cart">     
            <a href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i> </a>
        <div class="circle text-center">
            <a href="">1</a>
        </div>
      
    </div>

</div>
        </div>
       
    </div>
</div>