<div class="sub-navigate">
    <div class="block-navigate">  
            <div class="navigate-title">
                Danh Mục
            </div>
            <h5 style="font-size:16px; font-weight:bold"><span>></span> Bé Ăn</h5>
        <ul>
            <li><a href="">Sữa bột các loại    </a></li>
            <li><a href="">Bình sữa và phụ kiện    </a></li>
            <li><a href="">Bột, Cháo, Bánh ăn dặm    </a></li>
            <li><a href="">Đồ dùng phục vụ ăn uống    </a></li>
            <li><a href="">Trà & Thực phẩm đóng hộp    </a></li>
            <li><a href="">Ghế ăn bột cho bé    </a></li>
        </ul>
    </div>  
    <div class="block-navigate">

        <div class="navigate-title">
            Khoảng Giá
        </div>
        <input id="ex2" type="text" class="" value="" data-slider-min="4500" data-slider-max="7300000" data-slider-step="5" data-slider-value="[4000,10000]" /> 
        <h5>4.500VNĐ <span style="margin-left:20px;">7.300.00VNĐ</span></h5>
        

     </div>

    <div class="block-navigate">
        <div class="navigate-title">
            Thương Hiệu
        </div>
        <a href="" class="menu-checkbox"><span>Summer Infant</span></a> <br />
        <a href="" class="menu-checkbox"><span>Abbott</span></a><br />
        <a href="" class="menu-checkbox"><span>Anmum</span></a><br />
        <a href="" class="menu-checkbox"><span>Aptamil</span></a><br />
        <a href="" class="menu-checkbox"><span>Arau baby</span></a><br />
      </div>
    <div class="block-navigate">

        <div class="navigate-title">
            Theo Độ Tuổi
        </div>
        <a href="" class="menu-checkbox"><span>0 tháng - 3 tháng</span> </a><br />
        <a href="" class="menu-checkbox"><span>3 tháng - 6 tháng</span></a><br />
        <a href="" class="menu-checkbox"><span>6 tháng - 12 tháng</span></a><br />
        <a href="" class="menu-checkbox"><span>1 tuổi - 3 tuổi</span></a><br />
        <a href="" class="menu-checkbox"><span>3 tuổi - 6 tuổi</span></a><br />
        <a href="" class="menu-checkbox"><span>6 tuổi - 7 tuổi</span></a><br />
        <a href="" class="menu-checkbox"><span>7 tuổi - 10 tuổi</span></a><br />
        <a href="" class="menu-checkbox"><span>trên 10 tuổi</span></a><br />
    </div>

</div>


<script>
// Without JQuery
var slider = new Slider('#ex2', {});
</script>